<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myappweixin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wei"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Appstart"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Welcome"></activity>
        <activity android:name=".login"></activity>
        <activity android:name=".Loading"></activity>
         <activity android:name=".Whatnew"></activity>
         <activity android:name=".WhatsnewDoor"></activity>
         <activity android:name=".MainWeinxin"></activity>
          <activity android:name=".MainTopRightDialog"></activity>        
    </application>

</manifest>
